<% if @comments.blank? %>
  <h4 class="card-title">My Comment</h4>
  <div class="well" style="margin-bottom:5px;">
    <div class="media">
      <div class="media-body">
        <div class="col-sm-8">
          <h3 style="margin-left: 190px;">This user do not has any comment yet!</h>
    </div>
  </div>
</div>
</div>
<%else %>
<% @comments.each do |c| %>
  <h4 class="card-title">My Comment</h4>
  <div class="well" style="margin-bottom:5px;">
    <div class="media">
      <div class="media-body">
        <div class="col-sm-8">
          <h4 class="media-heading long-title"><a class="custom-highlight" href="/users/6">D</a><%= c.content %></h4>
          <h4 class="media-heading long-title">in <a class="custom-highlight" href=static_pages/<%= c.post_id %> >Hello, My name is Bach, this is my new post</a></h4> </div>
        <div class="col-sm-2" style="float:right"> <i class="glyphicon glyphicon-calendar"></i>
          <%=c .created_at %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
