<% provide(:title, 'Forgot password') %>
<h1>Forgot password</h1>

<div class="cont" style="width: 570px;">

  <div class="form sign-in" style="padding-top: 149px;">
<form action="sendpass" method="post">
    <label style="margin-top: -7px">
      <span>Emter Yours Email</span>
      <input type="email" name=user[email]>
    </label>
    <br>
    
    <button type="submit" style="margin-left: 150px;margin-top: 3px" class="submit">Sign In</button>
  </div>

  </form>

  <div class="sub-cont">
    
  </div>


  
</div>