
<div class="row">
    <div class="col-md-6 col-md-offset-3">


    <% if store_location.include?("forgot")%>
             <%= render 'forgot' %>
    <%else%>
         <%= render 'form' %>
    <% end %>
    </div>
</div>
