<aside class="profile-card">
  <div class="row" style="padding-top: 70px;"> </div>
  <div class="row" style="padding-top: 70px;">
    <div class="mask-shadow"></div>
    <header>
      <% if @user.photo.file.nil? %>
        <a><img src="/uploads/defaults/no-image.jpg" /> </a>
        <% else %>
          <a><img src=<%=@user.photo %> /> </a>
          <% end %>
            <h1><%= @user.name %></h1>
            <h2><%= @user.email %></h2> </header>
    <div class="profile-bio"> </div>
    <div class="profile-content">
      <div class="col-sm-6">
        <h5 class="post-title" style="margin: 30px 0 0 0!important">Recent posts</h5>
        <div class="container-fluid custom-display">
          <% if @user.posts.blank? %>
            <div class="row post-each">
              <h3>This user do not has any post yet</h3> </div>
            <% else %>
              <% @user.posts.each do |up| %>
                <div class="row post-each"> <span class="display-title"><a class="custom-highlight" href=/static_pages/<%= up.id %>><%= up.title %></a></span> <span style="float:right;display: inline-block;">
                  <%= up.created_at %>  
                  </span> </div>
                <% end %>
                  <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <h5 class="post-title" style="margin: 30px 0 0 0!important">Recent comment</h5>
        <div class="container-fluid custom-display">
          <% if @user.comments.blank? %>
            <div class="row post-each">
              <h3>This user do not has any comment yet</h3> </div>
            <% else %>
              <% @user.comments.each do |uc| %>
                <div class="row post-each"> <span class="display-title"><a class="custom-highlight" href=<%= uc.post.id %>><%= uc.content %></a></span> <span style="float:right;display: inline-block;">
                    <%= uc.created_at %>  
                    </span> </div>
                <% end %>
                  <% end %>
        </div>
      </div>
    </div>
  </div>
</aside>
