<div id="setting-list">
   <form class="edit_user" id="edit_user_8" action=/users/<%=current_user.id%> accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="patch">
      <div class="input-group mb-3" style="margin-bottom: 25px;margin-top: 25px;">
         <div class="input-group-addon"> <span class="input-group-text">New password</span> </div>
         <input class="form-control"
         placeholder="Enter new password" required="required" type="password" name="user[password]"
         id="user_password"> </div>
      <div class="input-group mb-3" style="margin-bottom: 25px;">
         <div class="input-group-addon"> <span class="input-group-text">Confirm password</span> </div>
         <input class="form-control"
         placeholder="Confirm your password" required="required" type="password"
         name="user[password_confirmation]" id="user_password_confirmation"> </div>
      <div class="row">
         <div class="form-group">
            <div class="col-sm-2">
               <input type="submit" name="commit" value="Confirm" class="btn btn-success"
               data-disable-with="Confirm"> </div>
         </div>
      </div>
   </form>
</div>
