
<div id="setting-list">
   <br>
   <form class="edit_user" id="edit_user_8" enctype="multipart/form-data" action=/users/<%=current_user.id%> accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="patch">
      <input id="file-input" accept="image/jpeg,image/gif,image/png" type="file"
      name="user[photo]">
      <input type="submit" name="commit" value="upload" class="btn btn-primary"
      data-disable-with="upload"> </form> no larger than 2mb
   <script type="text/javascript">
$('#file-input').bind('change', function() {
   varsize_in_megabytes = this.files[0].size / 1024 / 1024;
   if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
   }
});

   </script>
</div>
