<div class="container-fluid setting-info">
    You can modify your contact detail below
</div>

<form class="edit_user" id="edit_user_8" action=/users/<%= current_user.id %> accept-charset="UTF-8" method="post">
<input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
<div class="input-group mb-3" style="margin-bottom: 25px; margin-top: 25px;">
    <div class="input-group-addon">
        <span class="input-group-text">Username</span>
    </div>
    <input class="form-control" placeholder="helloworld" type="text" value=<%= current_user.name %> name="user[name]" id="user_name" />
</div>

<div class="input-group mb-3" style="margin-bottom: 25px;">
    <div class="input-group-addon">
        <span class="input-group-text">Email</span>
    </div>
    <input class="form-control" placeholder="twostep.dev@gmail.com" type="text" value=<%= current_user.email %> name="user[email]" id="user_email" />
</div>

<div class="input-group mb-3" style="margin-bottom: 25px;">
    <div class="input-group-addon">
        <span class="input-group-text">Mobile</span>
    </div>
    <input class="form-control" placeholder="Enter your phone number" type="number" name="user[mobile]" id="user_mobile" value=<%= current_user.mobile %> />
</div>



<div class="input-group mb-3" style="margin-bottom: 25px;">
    <div class="input-group-addon">
        <span class="input-group-text">City</span>
    </div>
    <input class="form-control" placeholder="Enter your city" type="text" name="user[city]" id="user_mobile" value=<%= current_user.mobile %> />
</div>


<div class="form-group">
    <div class="input-group-addon" style="border-right: 1px solid #ccc; border-bottom: 0; border-top-right-radius: 4px;">
        <span class="input-group-text" style="float: left;">Personal Introduction</span>
    </div>
    <textarea class="form-control" rows="4" placeholder="Leave your personal bio here" name="user[intro]" id="user_bio"><%= current_user.intro %></textarea>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-sm-2">
            <input type="submit" name="commit" value="Confirm" class="btn btn-success" data-disable-with="Confirm" />
        </div>
    </div>
</div>
</form>