@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
$gray-medium-light:#eaeaea;
@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  padding-top: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #333333;
}




section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
    font-size: 1.2em;
    letter-spacing: -2px;
    margin-bottom: 15px;
    text-align: center;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*miscellaneous*/
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top:45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*sidebar*/
aside{
  section.user_info{
    margin-top : 20px;
  }
  section{
    padding: 10px 0;
    margin-top :20px;
    &:first-child {
      border:0;
      padding-top:0;
    }
    span{
      display:block;
      margin-bottom:3px;
      line-height:1;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}
.gravatar_edit{
  margin-top:15px;
}

/*forms*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend.has-error;
  .form-control{
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top:-10px;
  margin-bottom:10px;
  span {
    margin-left:20px;
    font-weight:normal;
  }
}

#session_remember_me {
  width:auto;
  margin-left:0;
}

.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}